@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700,800");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(55 65 81);
    font-family: "Dosis", sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: min-content auto;
}

.main {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: min-content 1fr;
}

@media (max-width: 1230px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
    }

    digital-clock {
        grid-column: 1/-1;
        grid-row: 2/3;
        padding: 2rem 0;
    }

    modal-information {
        grid-column: 1/-1;
        grid-row: 1/2;
        opacity: 1;
    }

    form-attendance {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
}

modal-information {
    grid-row: 1/2;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

.hidden {
    display: none;
    animation: vanish .5s;
}

.show {
    display: block;
    animation: appear .5s;
}

.modal__description--bold {
    font-weight: 700;
}